<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="center jumbotron">
    <form class="form-group" action="shortened_urls/create", method="post">
      <p>Welcome to our link shortener. Please enter your link:</p>
      <input type="text", name="original_url", value=""/>
      <input type="submit" value="Submit" class="btn btn-lg btn-primary">
    </form>
    </div>
  </body>
</html>
