<html>
  <div class="center jumbotron">
  <title>Your shortened_urls</title>
  <body>
    <h2>Your Original URL is: <%= @original_url %></h2>
    <h2>Your Shortener URL is: <%= link_to @short_url %></h2>
  </body>
  </div>
</html>
